.container {
  max-width: 1158px; /* Твоє значення з макету */
  margin: 0 auto; /* Центрування контейнера */
  padding-left: 15px;
  padding-right: 15px;
}

.hero-background {
  padding: 188px 0;
  text-align: center;
  background-color: #2e2f42; /* Якщо там є темний фон */
}

.hero-container {
}

.page-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.02em;
  padding-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}
