.team {
  background-color: #f4f4fd;
}
.background-color {
  background-color: #ffffff;
}

.background-color {
  background-color: #ffffff;
}

.background-color {
  background-color: #ffffff;
}

.background-color {
  background-color: #ffffff;
}

.Team {
  text-align: center;
}
